@model Teacher

<h3>Информация о учителе</h3>
<hr class="featurette-divider">
<h4>@Model.GetName()</h4>
<p>Возраст: @Model.Age<br>
Номер телефона: @Model.PhoneNumber</p>
<a type="btn btn-success" button asp-controller="Teacher" asp-action="Delete" asp-route-id="@Model.Id"
                  class="btn btn-sm btn-outline-danger">Удалить учителя</a>