@{
    ViewData["Title"] = "Home Page";
}




  <main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Дипломная работа</h1>
    <p class="lead">Тема дипломной работы "Разработка информационной системы для дошкольного образования". 
        Сайт создан для упрощения ведением организационный структуры Детского сада. Программно-аппаратная часть сервиса, 
        отвечающая за функционирование его внутренней части написан на языке C#, с использованием фреймворка ASP.NET Core. 
        В качестве базы данных выступает СУБД "MS SQL Server". Веб-страница сверстано на стандартизированной языке разметки документов - HTML.</p>
    
    <a type="btn btn-md btn-primary" asp-controller="KidGroup" asp-action="Index"
                  class="btn btn-md btn-primary">Перейти к группам!</a>
  </div>
  
   <hr class="featurette-divider">

   <style>
   .parent {
    margin-top: 5%; /* Отступы вокруг элемента */
  </style>

    <div class="parent">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" src ="https://res.cloudinary.com/dzciaxnah/image/upload/v1652303037/6WryavZCbO4tz3BYwbXOAWruTutcq15wnub5_u8sVgHP_7EcghbjgiN1AtELPykGjohbu8xO_yerf4y.jpg" width="140" height="140" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2 class="parent">Гинаятолла Ильяс</h2>
        <p>Группа: КСУиР-20 ТиПО<br>
        Возраст: 21<br>
        <a href="https://www.instagram.com/ilyasginx/">Instagram</a></p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" src ="https://res.cloudinary.com/dzciaxnah/image/upload/v1652303455/IMG-20220507-WA0011_nn6fec.jpg" width="140" height="140" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2 class="parent">Багитов Султан</h2>
        <p>Группа: КСУиР-20 ТиПО<br>
        Возраст: 21<br>
        <a href="https://www.instagram.com/b_nurlanov/">Instagram</a></p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" src ="https://res.cloudinary.com/dzciaxnah/image/upload/v1652303037/photo_2022-05-12_02-03-25_bbrejz.jpg" width="140" height="140" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em"></text></img>

        <h2 class="parent">Нурланов Бейбарыс</h2>
        <p>Группа: КСУиР-20 ТиПО<br>
        Возраст: 21<br>
        <a href="https://www.instagram.com/b_nurlanov/">Instagram</a></p>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</main>